@font-face {
  font-family: 'zetteln';
  src: url('../src/assets/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font supports 100–900 */
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  font-stretch: 75% 125%;
}
@import 'tailwindcss';

@theme {
  --font-sans: 'zetteln', sans-serif;
  --font-weight: 200;
  --color-black-800: #2d2f34;
  --color-sand-50: #fdf9f5;
  --color-sand-100: #f8f0e5;
}

@layer base {
  .lxed-0 {
    font-variation-settings: 'LXND' 0;
  }
  .lxed-100 {
    font-variation-settings: 'LXND' 100;
  }
}
